@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s linear;  
}

:root{
    --blue-primary:#6b73ff;
    --white-color:#ffffff;
    --black-color:#000;
    --dark-color:#0c0c1d;

}

html{
   font-size: 80%;
   background: #f8f9fb; 
}
/* Navbar Design Start */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 5rem;
}
header .left-head{
    display: flex;
    align-items: center;
}

header .left-head .logo{
    height: 40px;
    display: flex;
    align-items: center;

}
header .left-head .logo img{
    height: 100%;
    margin-top: 19px;
}
header .left-head nav .close{
  display: none;  
}
header .left-head .menu-bar{
  margin-top: 20px;
  margin-left: 2rem;
  font-size: 1.4rem;  
}

header .left-head  nav .menu-bar ul{
    display: flex;
    gap: 3rem;
}

header .left-head  nav .menu-bar ul li{
    list-style: none;
}
header .left-head  nav a{
    font-weight: 400;
    color: var(--black-color);
}
header .left-head  nav a:hover{
    color: rgba(85, 85,85);
}
header .right-header  {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
} 

header .right-header a{
    color: var(--black-color);
    font-weight: 600;
    font-size: 1.4rem;
}

header .right-header a:last-child{
    /* background: var(--black-color); */
    background: #31C48D;
    padding: .7rem 1rem;
    font-size: 1.1rem;
    color: var(--white-color);
    font-weight: 400;
    border-radius: .6rem;
}

header .right-header a:hover{
    color: rgba(85, 85,85);
}
header .right-header a:last-child:hover{
    color: var(--white-color);
    background: rgba(85, 85,85);
    /* background: #CBA299; */
}


header .menu{
    display: none;
}

header .left-head nav .button{
    display: none;
}
/* Navbar Design End */




/* Home design start */
.home{
    width: 100%;
    margin-top: 1rem;
    height: 88vh;
    padding: 0 2.5rem;
}

.home .homeimg{
    background: url(https://images.unsplash.com/photo-1634482896248-7ff20570ab0b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 1px;
    display: flex;
    justify-content: center;

}

.home .homeimg .homeText{
    text-align: center;
    margin-top: 5rem;
    width: 100%;
    max-width: 65rem;
color: var(--white-color);

}

.home .homeimg .homeText h1{
    font-size: 5rem;
    margin-bottom: 1rem;
color: var(--black-color);
}

.home .homeimg .homeText p{
    font-size: 1.5rem;
    margin: 0 10rem;
    font-weight: 400;
    margin-bottom: 2rem;
   
}
.home .homeimg .homeText a{
    color: var(--white-color-color);
    font-weight: 600;
    font-size: 1.2rem;
    border: 2px solid var(--white-color);
    padding: .5rem 1.5rem;
    border-radius: .5rem;
}

.home .homeimg .homeText a:hover{
    background: var(--white-color);
    color: var(--black-color);
    font-weight: 400;
}


.home  .homeBottom {
width: 100%;
position: relative;
}
.home  .homeBottom .container{
    background: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    transform: translate(0,-4.5rem);
    box-shadow: 2px 2px 35px #161c8a3c ;
    padding: 2.5rem 1rem;
    width: 88vw;
margin: 0 auto;
border-radius: 1.5rem;
}

.home  .homeBottom .container .box{
 padding: 0.2rem 1rem;
 width: 100%;
 flex: 1 0 120px;   
}

.home  .homeBottom .container .box:nth-child(1),.home  .homeBottom .container .box:nth-child(2){
    border-right: 2px solid var(--black-color);
}

.home  .homeBottom .container .box h5{
 font-size: 1.3rem;
 margin-bottom: .5rem;
}

.home  .homeBottom .container .box p{
    color: #444;
    font-size: 1.1rem;
}
.home  .homeBottom .container .box a{
    float: right;
    padding: 1rem 2rem;
    color: var(--white-color);
background: var(--blue-primary);
border-radius: .5rem;
font-size: 1.1rem;
font-weight: 400;
}

.home  .homeBottom .container .box a:hover{
    background: #a7abff;
}
/* Home design end */


/* Contact design start */

.contsection{
    padding: 12rem;
    margin-top: 10rem;
    background: var(--white-color);
}
.contsection .contactUs{
    width: 100%;
    display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     gap: 4rem;
}

.contsection .contactUs .text,.contsection .contactUs .text .box{
flex: 1 0 260px;
}

.contsection .contactUs .text h2{
    font-size: 4.6rem;
}


.contsection .contactUs .text p{
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 1.4;
}

.contsection .contactUs .text a{
    font-size: 1.1rem;
    color: var(--white-color);
    padding: 1rem 2rem;
    background: var(--black-color);
    border-radius: .4rem;
    margin-top: 0.5rem;
    display: inline-block;
}


.contsection .contactUs .text a:hover{
    transform:translate(0,-.5rem) ;
    box-shadow: 1px 1px 13px #0000006f ;
}

.contsection .contactUs  .box{
    height: 70vh;
    padding-left: 10rem;
    position: relative;
}
 
.contsection .contactUs .box .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 1px 21px 30px -1rem   rgba(0, 66, 148, 0.37);
}
 
.contsection .contactUs .box .image img{
 width: 100%;
 height: 100%;
 object-fit: cover;   
 object-position: center;
}

.contsection .contactUs .box .sBox{
    position: absolute;
    top: 60%;
    left: 6%;
    background: var(--white-color);
    padding: 2rem;
    width: 20em;
    border-radius: 1rem;
    box-shadow: 1px 1px 45px #0000002d;
}

.contsection .contactUs .box .sBox h3{
    font-size: 3rem;
        color: #31C48D;
}



.contsection .contactUs .box .sBox p{
  font-size: 1.4rem;
  margin-top: 0.8rem;  
}


.contsection .contactUs .box .sBox:hover{
    transform: translate(0,-1rem);
}


/* Contact design end */

/* provided design start */

.convenience{
    width: 100%;
    height: 100vh;
    background: var(--dark-color);
    padding: 0 8rem;
}
.convenience .provided{
 display: flex;
 justify-content: space-between;  
 width: 100%;
 align-items: center;
 gap: 10rem;
 padding: 4rem 0;
 padding-top: 7rem;
 flex-wrap: wrap;
border-bottom:1px solid #bdbcbc ;
}

.convenience .provided .box{
    flex: 1 0 200px;
    display: flex;
    gap: 1.5rem;

}

.convenience .provided .box h2{
    font-size: 4rem;
    color: var(--white-color);
}
.convenience .provided .box  p{
    font-size: 1.5rem;
    color: #bdbcbc;
    line-height: 1.4;
}

.convenience .content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6rem;
    padding: 4rem 0;
    margin-top: 2rem;
}

.convenience .content .box{
    flex: 1 0 240px;
}
.convenience .content .box  h2{
    font-size: 3.4rem;
    color: var(--white-color);
}

.convenience .content .box p{
    font-size: 1.3rem;
    color: #bdbcbc;
    line-height: 1.9;
}

.convenience .video{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    border-radius: 1.5rem;
}

.convenience .video video{
    width: 100%;
    height: 170%;
    margin-top: -15rem;
    object-position: center;
    object-fit: cover;
}
/* provided design end */



/* property design start */

.property{
    width: 100%;
    padding: 10rem 8rem;
    margin-top: 15rem;
}
.property .propH{
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;

}

.property .propH h2{
font-size: 4rem;
text-align: center;
}
.property .propH p{
    font-size: 1.3rem;
    color: #333;
    line-height: 1.5;
    text-align: center;
    margin: 2rem 0;
}

.property .deBox{
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  gap: 4rem;
}

.property .deBox .box{
    width: 100%;
    height: 42rem;
    background: var(--white-color);
    border-radius: 1.2rem;
    overflow: hidden;
    position: relative;
}

.property .deBox  .box .image{
    width: 100%;
    height: 26rem;
    overflow: hidden;
}

.property .deBox  .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.property .deBox  .priceName{
    padding: 2rem;
    border-bottom: 1px solid #b0b0b04d;
}
.property .deBox  .priceName h4{
 font-size: 2rem;
 color: #31C48D;
 margin-bottom: 0.8rem;   
}
.property .deBox  .priceName p{
    font-size: 1.4rem;
    font-weight: 500;
}

.property  .deBox .box .location-detail{
 padding: 1rem 2rem;

}

.property  .deBox .box .location-detail p{
    font-size: 1.3rem;
    font-weight: 500;
}
.property  .deBox .box .location-detail p img{
    width: 20px;
    vertical-align: middle;
}

.property  .deBox  .location-detail .detail{
    width: 100%;
}
.property  .deBox  .location-detail .detail ul{
 width: 85%;
display: flex;
justify-content: space-between;
position: absolute;
bottom: 1rem;
}

.property  .deBox  .location-detail .detail ul li{
 list-style: none;   
 font-weight: 500;
 font-size: 1.2rem;
 display: flex;
}

.property  .deBox  .location-detail .detail ul li img{
    width: 18px;
    margin-right: 1rem;
}

.property  .explore{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}


.property .explore a{
    color: var(--white-color);
    background:var(--black-color) ;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    border-radius: .8rem;
}
.property .explore a:hover{
    transform: translate(0,-.7rem);
    box-shadow: 1px 5px 15px #00000049;
}

/* property design end */




/*Media Queries Start  */
@media screen and (max-width:1050px) {
    html{
        font-size: 75%;
    }
.convenience {
    padding: 2rem 4rem;
}

.convenience .provided{
    gap: 3rem;
    padding: 4rem 0;
}

.convenience .content{
    margin: 0;
}

}


@media screen and (max-width:960px) {
    html{
        font-size: 70%;
    }

    .contsection{
        margin-top: 15rem;
        padding: 10rem 4rem;
    }

    .contsection .contactUs{
     gap: 12rem;   
    }

    .contsection .contactUs .text h2{
        font-size: 3.3rem;
    }
    .contsection .contactUs .text p{
        font-size: 1.3rem;
    }

    .contsection .contactUs .box{
        padding-left: 0rem;
     height: 50vh;   
    }
    .contsection .contactUs .box .sBox{
        top: -15%;
        left: 50%;
        transform: translate(-50%,0);
    }
    .contsection .contactUs .box
    .sBox:hover{
transform: translate(-50%,-5%);
    }
}


@media screen and (max-width:780px) {
header {
 padding: 0 2rem;
}
header .left-head nav{
    display: none;
}

header .right-header{
    display: none;
}
header .menu{
    display: block;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}
header .menu img{
    height: 100%;
}

header .left-head nav.active{
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
z-index: 11;
background: rgba(0,0,0,0.9);
backdrop-filter: blur(5px);
}

header .left-head nav .close{
    display: block;
    padding: 2rem;
    cursor: pointer;
}

header .left-head nav .close img{
    float: right;
    height: 35px;
    mix-blend-mode:difference;
}
header .left-head nav .close img:hover{
    background: var(--black-color);
    padding: 0.5rem;
    border-radius: 5px;
}

header .left-head nav .menu-bar{
    width: 100%;
    margin-top: 1rem;
display: flex;
justify-content: center;

}

header .left-head nav .menu-bar ul {
text-align: center;
display: block;
}
header .left-head nav .menu-bar ul li{
    margin: 2rem;
}

header .left-head nav .menu-bar ul li a{
    font-size: 2rem;
    color: var(--white-color);

}

header .left-head nav .menu-bar ul li a a:hover{
    color: #bdbcbc;
}

header .left-head nav .button{
    position: absolute;
bottom: 2rem;
width: 100%;
display: flex;
justify-content: space-between;
gap: 2rem;
flex-wrap: wrap;
padding: 2rem;
}

.login-button ,.create-button{
    background: var(--white-color);
    width: 100%;
    flex: 200px;
    padding: 1.5rem;
    border: 2px solid var(--white-color);
}
header .left-head nav .button .login-button{
    background: transparent;
    border: 2px solid var(--white-color);
}
header .left-head nav .button .login-button a {
    color: var(--white-color);
}
header .left-head nav .button .login-button a,header .left-head nav .button .create-button a{
    display: block;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
}


header .left-head nav .button .login-button:hover{
    background: var(--white-color);
}

header .left-head nav .button .create-button:hover {
    background: transparent;
}


header .left-head nav .button .login-button:hover a{
    color: var(--black-color);
}

header .left-head nav .button .create-button:hover a{
  color: var(--white-color);
}

.home .homeimg .homeText h1{
    font-size: 4em;
}

.home .homeimg .homeText p{
    margin-bottom: 3rem;
}


.home .homeimg .homeText p{
    margin: 0;
    margin-bottom: 3rem;  

} 
.home .homeBottom .container{
    width: 100%;
}


.home .homeBottom .container{
 transform: translate(0);   
 margin-top: 4rem;

}

.home .homeBottom .container .box a {
    float: none;
}


.convenience .video{
    height: 50vh;
}

}

@media screen and (max-width:450px) {
    html{
        font-size: 60%;
    }

    .home .homeimg .homeText{
        padding: 1rem;
    }

    .home .homeimg .homeText p{
        margin: 0;
        margin-bottom: 3rem;
        font-size: 1.8rem;
        line-height: 1.5;
    }
 .home  .homeBottom .container .box:nth-child(2){
  border: none;  
 }

 .convenience .content{
    gap: 2rem;
 }
.convenience .video{
    height: 40vh;
}

}

/*Media Queries End  */